#Frontend
node_modules
bower_components
*.idea
*dist
**/.vscode
SourceCode/jsconfig.json
coverage

# User-specific files
*.suo
*.db
*.user
*.DotSettings
*.sln.docstates

# Build results
bin
obj
*.log.*
logs
Debug
postActionTools/

#DB models
*.dbmdl

#DB Post/Pre deployment concatenated scripts
*DeploymentReleases.sql

#include nuget executable
!NuGet.exe

#nuget packages directory
packages

#include package target files which may be required for msbuild
# commented - !packages/*.targets

# ReSharper
_ReSharper*/
*.ReSharper

# DotCover is a Code Coverage Tool
*.dotCover

# Tfs
$tf

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml

# Backup & report files from converting an old project file to a newer
_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm

# Windows image file caches
Thumbs.db
ehthumbs.db

# VS 2019 folder
.vs
*.jfm
**/app.config
**/app.Release.CI.config

errors-dev-1.0.*.9999.txt
.build.sh.swp

/**/version.info
/**/onlyifchanged*.json

# Specflow feature files
*.feature.cs


*apple-app-site*
*.aab
.DS_Store
*.log
/PlatForm_Net_Messaging_Master
